body {
  padding-top: 100px;
}

.main-bar,
.checkout-bar {
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: center;
  height: 60px;
  background-color: aqua;
  border-bottom: 1px solid grey;
  width: 100%;
}

.logo {
  height: 45px;
  margin-top: 7px;
  margin-left: 5px;
  float: left;
}

.search-bar {
  margin-top: 12px;
  z-index: 3;
}

.cart {
  position: fixed;
  top: 8px;
  right: 0;
  padding: 0;
}

#cart-title {
  font-size: 20px;
  font-weight: bold;
  vertical-align: bottom;
}

#cart-items {
  position: relative;
  top: -5px;
  right: 87px;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.main-image {
  max-width: 100%;
  max-height: 200px;
}

.results-summary {
  border: 1px solid black;
  height: 50px;
  margin-bottom: 30px;
}

#results-text {
  font-size: 16px;
  margin-top: 12px;
  display: inline-block;
}

.results-sort {
  float: right;
  margin-top: 6px;
}

.results-view {
  float: right;
  margin-top: 6px;
}

.item-image {
  max-height: 200px;
  max-width: 100%;
}

#product-image {
  max-width: 100%;
}

.cart-box {
  border: 1px solid black;
}

.shop-box {
  border: 1px solid black;
}

.shop-image {
  max-width: 100%;
}

#subtotal {
  float: right;
}

#checkout-text {
  text-align: center;
  margin-top: 15px;
}

.checkout-box {
  border: 1px solid black;
}

#review-box {
  border: 1px solid black;
}

.review-image {
  max-width: 100%;
}

#bottom-order-box {
  border: 1px solid black;
  margin-top: 10px;
}
